{% extends 'feedback360/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="application">
        <h1>Adicione os "stakeholders"</h1>
        <p class="lead">
        Adicione as pessoas do seu círculo de contato que sejam capaz de lhe
        dar um feedback impessoal (ou o mais impessoal possível). Exemplos: chefes,
        pares, clientes e família.
        </p>
    <!-- Form to add invite -->
        <ul id="container-invite-form" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li class="invite-box active">
            <div class="invite active clearfix">
                <form class="add-form" action=".">
                    {{ form.as_p }}
                    <input type="submit" class="button tiny radius right" value="Salvar">
                </form>
            </div>
        </li>
        <li class="invite-box">
            <div class="invite text-center">
                <button class="button-content-invite radius">
                    <i class="big-plus fa fa-plus-circle"></i>
                </button>
            </div>
        </li>
      </ul>
    </div>
     <div id="invite-form-content" class="hide">
        <form class="add-form" action=".">
            {{ form.as_p }}
            <input type="submit" class="button tiny radius right" value="Salvar">
        </form>
    </div>
{% endblock %}


