{% extends 'feedback360/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Form to add invite -->
    <h1>Respostas</h1>
    <p class="lead">
    Você e dezenas de pessoas contribuem, agora, para o nosso desenvolvimento
    e de outras centenas de pessoas pela colaboração simplesmente doando seu tempo!
    </p>
    {% if messages %}
    <div data-alert class="alert-box alert radius">
        {% for message in messages %}
           {{ message }}<br>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel callout radius">
        <p>Suas respostas não são associadas a você. Por isso, esse formulário
        somente pode ser respondido uma vez. Tudo ou nada!
        (<a href="https://github.com/horacioibrahim/hipy/blob/master/feedback360/models.py#L174-L181" target="_blank">código-fonte
         </a>)
        </p>
    </div>
    {% endif %}
    <form id="form-replies" action="/feedback360/replies/" method="post" name="formReplies">
    <p>
    {% csrf_token %}
    {% for ask in participant.get_enunciation %}
        <label for="id_reply"><strong>{{ ask }}</strong></label>
        {% if ask.reply_type == 0 %}
        <textarea cols="40" id="id_reply" name="reply_{{ ask.pk }}" rows="10"></textarea>
        {% else %}
          {% for reply_accepted in ask.reply_accepted %}
              <input type="{% if ask.reply_type == 1 %}radio{% else %}checkbox{% endif %}" name="reply_{{ ask.pk }}" value="{{ reply_accepted }}" >
              <label>{{ reply_accepted }}</label>
          {% endfor %}
        {% endif %}
        <input type="hidden" name="social_name" value="{{ participant.name }}" />
    {% endfor %}
    </p>
    <p>
    <a href="/" class="button secondary radius">Responder mais tarde...</a>
    <input type="submit" class="button radius" value="Enviar">
    </p>
    </form>

{% endblock %}
