{% extends 'feedback360/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Obrigado!</h1>
<p class="lead">Foi um imenso prazer recebê-la(o) aqui no hipy.co para participar do
Feedback 360º. Obrigado pelas suas respostas!
</p>
<p class="lead">Conheça mais sobre a
  <a href="http://hipy.co/post/as-metas-e-objetivos-do-hipy/">missão</a> do projeto ou
  siga-nos no <a href="https://twitter.com/horacioibrahim">Twitter</a> para ter novidades sobre
  desenvolvimento pessoal, tecnologia e muito mais!
</p>
{% endblock %}
