{% extends 'feedback360/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Obrigado!</h1>
<br>
<p class="lead thanks">É um prazer recebê-lo aqui no hipy.co e para participar do
Feedback 360º. Se você não conseguiu preencher as respostas é
provável que não esteja no critério dos objetivos dessa avaliação
como expliquei na seção anterior
<a href="/feedback360/#invited">"os convidados"</a>.
</p>
<p class="lead thanks">De forma alguma sua opnião é irrelevante para mim, porém pelo
número de contatos que tenho na minha rede foi preciso selecionar
algumas pessoas. Espero poder contribuir com o seu desenvolvimento ao
levar conteúdos relevantes desde de códigos e softwares até mensagens
que edifiquem a sua vida e da sua família. Sucesso!</p>

<p class="lead thanks">Acompanhe o <a href="/" class="label round">hipy.co</a> para ter novidades sobre
desenvolvimento pessoal, tecnologia e muito mais!</p>
<p>
Para remover o acesso de qualquer aplicativo autorizado para sua conta do Facebook
acesse suas configurações de permissão de aplicativos em
<a href="https://www.facebook.com/settings?tab=applications">Configurações</a>.
</p>
{% endblock %}


