{% extends 'feedback360/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Obrigado mais uma vez!</h1>
<p class="lead">Obrigado novamente por contribuir com o Feedback 360º!
</p>
<p class="lead">Qualquer questionamento ou dúvida entre em contato comigo:
  <a href="https://twitter.com/horacioibrahim">Twitter</a>
  | <a href="https://github.com/horacioibrahim">Github</a>
  | <a href="https://www.facebook.com/horacioibrahim">Facebook</a>
  | <a href="https://www.linkedin.com/in/horacioibrahim">Linkedin</a>

</p>
{% endblock %}
