<div class="content-press">
      <div class="row">
        <div class="small-11 small-centered columns">
          <h2 class="title text-center">Um bootstrapper que transpira inovação</h2>
          <h4 class="text-center">compartilhando conhecimento para fazer mais com menos ;/</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-centered columns">
          <br /><br />
          <form>
            <div class="row hide-for-small">
              <div class="small-8 columns">
                <input class="large" type="text" placeholder="voce@exemplo.com" />
              </div>
              <div class="small-4 columns">
                <button class="button large radius expand">Seguir</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>