<div class="content-press">
      <div class="row">
        <div class="small-11 small-centered columns">
          <h2 class="title text-center">Um bootstrapper que transpira inovação</h2>
          <h4 class="text-center">compartilhando conhecimento para fazer mais com menos ;/</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-centered columns">
          <br /><br />
            <div class="row hide-for-small">
              <form id="form-search" action=".">
                  <div id="wrapper_csrf">
                      {% csrf_token %}
                  </div>
                  <div class="small-8 columns">
                    <!-- <input id="followed_by" name="followed_by" class="large" type="text" placeholder="voce@exemplo.com" value="" /> -->
                    <input class="large" type="text" name="terms" placeholder="pesquise no hipy">
                  </div>
                  <div class="small-4 columns">
                    <button class="btn-categories-noaction button large radius expand">
                        Buscar
                    </button>
                  </div>
             </form>
            </div>
        </div>
      </div>
</div>
