{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>hipy.co | horacioibrahim </title>
    {% include 'includes/content_head_default.html' %}
  </head>
  <body>
     <!-- off for small clients. This is beta -->

    <nav class="top-bar hide-for-small" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#" title="hipy is hippie, is freedom, is mine"><strong>hipy</a></strong></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          {% for category in categories %}
          <li class=""><a class="scrollTo" href="{{ category.anchor }}">{{ category.name }}</a></li>
         {% endfor %}
          <!-- 
          <li class="has-form">
              <form id="form-search" action=".">
                <div class="row collapse">
                  <div class="large-12 small-12 columns">
                    <input type="text" name="terms" placeholder="pesquise <enter>">
                  </div>
                  </div>
              </form>
          </li>
          -->
        </ul>
      </section>
    </nav>
    <!-- </div> to fixed topbar -->
    <!-- content: press [begin] -->
    <div class="off-canvas-wrap show-for-small">
      <div class="inner-wrap">
        <nav class="tab-bar">

          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">hipy.co</h1>
          </section>

        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Categorias</label></li>
            {% for category in categories %}
                <li class=""><a class="scrollTo" href="{{ category.anchor }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </aside>

        <section class="main-section">
          <!-- content goes here -->
                {% include 'includes/home_wrapper_for_small.html' %}
        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
     <div class="hide-for-small">
        {% include 'includes/home_wrapper_for_small.html' %}
        <div id="ajaxLoadSearch" class="content-pages">
        </div>
     </div>
    <!-- content: press [end] -->

    <!-- latest posts start -->
    <div id="latest-posts" class="content-latest-post">
      <div class="row">
        <div class="small-10 small-centered columns">
          <h2 class="title text-center">Últimas novidades do hipy<br />
            <small>vamos conversar sobre startups, lifehacker, python, mongodb...</small></h2>
        </div>
      </div>
        <div class="row articles">
            <div class="small-12 medium-12 large-12 columns">
        <!-- grid -->
            <br />
            <ul id="posts-inject" class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
                {% for post in posts %}
                    <li>
                        <h5><a href="{% url 'post_view' post.slug %}">{{ post.title }}</a>
                        <small> <a class="label secondary radius" href="{% url 'category_posts' post.categories.0.slug %}">{{ post.categories.0.name }}</a></small></h5>
                        {% autoescape off %}
                        {{ post.content|truncatechars:100 }}
                        {{ post.link_url }}
                        {{ post.image_path }}
                        {% endautoescape %}
                        <span class="subheader"><br />{{ post.created_at|date:"d/M/Y"|lower }}</span>
                    </li>
                {% endfor %}
            </ul>

            </div>
              <button id="moreposts" title="More posts" class="label radius secondary"><i class="fa fa-th-list"></i>&nbsp;More Posts</button>
        </div>
    </div>
    <!-- latest posts end -->

    <!-- content: projects [begin] -->
    <div id="projects" class="content-project">
      <!-- title projects section  -->
      <div class="row">
        <div class="small-10 small-centered columns">
          <h2 class="title text-center">Projetos: Falhas e Sucessos<br />
            <small>coding, modelo de negócios, protótipos, raising capital e bootstrapping </small></h2>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <!-- gid -->

        <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
            <li class="text-center">
              <div class="a-logo logos-icons-bhono bhono"></div>
              <p class="text-center">
                Comunicação corporativa 10x mais ágil que e-mail e infinitamente mais pessoas engajadas para produzir inovavação.
              </p>
            </li>
            <li class="text-center">
              <div class="a-logo logos-icons-opsit opsit"></div>
              <p class="text-center">
                Alertas para os motoristas como bloqueios, reboques, recall's, oferta de compra, feedbacks e cantadas.
              </p>
            </li>
            <li class="text-center">
              <div class="a-logo logos-icons-bambae bambae"></div>
              <p class="text-center">
              O pregão eletrônico feito para pessoas realizarem a melhor compra e para os fornecedores as melhores vendas.
              <a href="http://hipy.co/post/startup-bambae-servico-de-licitacao-ou-leilao-reverso-para-pessoas-fisicas/" title="Bambae - Mais é menos">Mais</a>
              </p>
            </li>
            <li class="text-center">
              <div class="a-logo logos-icons-keepmarking keepmarking"></div>
              <p class="text-center">
                Marque, compartilhe e descubra. Um serviço que leva facilidades dos e-books para os fãs de livros físicos.
              </p>
            </li>
            <li class="text-center">
              <div class="a-logo logos-icons-vucovuco vucovuco"></div>
              <p class="text-center">
                Serviço para levar a cultura, as roupas e comidas típicas dos mercados municipais para todos os brasileiros.
              </p>
            </li>
            <li class="text-center">
              <div class="a-logo logos-icons-cadaster cadaster"></div>
              <p class="text-center">
              Tecnologia para cadastro de cartões de crédito que dá 4x mais produtividade na digitalização dos dados.
              <a href="http://hipy.co/post/a-startup-cadaster-mais-rapido-mais-simples-e-pior/" title="Cadaster">Mais</a>
              </p>
            </li>
        </ul>

          <div class="small-4 small-centered">
              <a href="/projects/" title="More projects" class="label radius secondary">More Projects</a>
          </div>

        <!-- grid -->
      </div>

    </div>
    <!-- content: projects [end] -->

    <!-- content: jobs and clients [begin] -->
    <div id="jobs" class="content-project content-jobs">
      <!-- title projects section  -->
      <div class="row">
        <div class="small-10 small-centered columns">
          <h2 class="title text-center">Últimos trabalhos e Clientes<br />
            <small>desenvolvimento de produtos Web, consultoria/suporte AWS e código-livre</small></h2>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <!-- gid -->

        <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
            <li class="text-center">
              <p class="text-center">
                  <br />
                <img src="{% static 'img/media/correio_braziliense.png' %}" />
              </p>
            </li>
            <li class="text-center">
              <p class="text-center">
                  <br />
                 <img src="{% static 'img/media/logo_bchange.png' %}" />
              </p>
            </li>
        </ul>
        <!-- grid -->
      </div>

    </div>
    <!-- content: jobs and clients [end] -->

    <!-- content: footer [begin] -->
    <div class="footer footer-head">
      <!-- O que será feito?
      <div class="row">
        <div class="small-7 columns">
          <h4>Mantenha-se atualizado sobre as novidades do hipy</h4>
          <p class="margintopminus10px">Receba mensalmente os destaques do meu <strong>AWS Stuff Reviews</strong>. Leia a última edição &gt;&gt;</p>
        </div>
        <div class="small-5 columns">
          <div class="row collapse paddingtop-20px">
            <div class="small-9 columns">
              <input type="text" placeholder="voce@example.com">
            </div>
            <div class="small-3 columns">
              <a href="#" class="button postfix">Assinar</a>
            </div>
          </div>
        </div>
      </div>
        -->
    </div>

    <div class="footer footer-resume">
      <div class="row">
        <div class="medium-4 columns">
          <div class="box-items">
            <h4 class="text-center">Horacio Ibrahim</h4>
            <p class="text-center">Sou desenvolvedor python com mais de 10 anos de experiência em infraestrutura de TIC: Unix/Linux, OpenSource, Cloud Computing, Desenvolvimento de Negócios e Bootstrapping. Curto boas amizades e amo passar as horas com minha família.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="box-border-left"> 
            <h5 class="text-center">Repositórios</h5>
            <ul class="text-center">
              <li><i class="fa fa-github"></i>&nbsp;<a target="_blank" title="GitHub" href="http://github.com/horacioibrahim">Github</a></li>
              <li><i class="fa fa-bitbucket"></i>&nbsp;<a target="_blank" title="Bitbucket" href="http://bitbucket.org/horacioibrahim">Bitbucket</a></li>
            </ul>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="box-border-left">
            <h5 class="text-center">Social</h5>
            <ul class="text-center">
              <li><i class="fa fa-facebook-square"></i>&nbsp;<a href="http://www.facebook.com/horacioibrahim" title="Facebook" target="_blank">Facebook</a>&nbsp;<small>(não procure coisas boas aqui ;)</small></li>
              <li><i class="fa fa-twitter"></i>&nbsp;<a href="http://twitter.com/horacioibrahim" title="Twitter" target="_blank">Twitter</a>&nbsp;<small>(mantendo uma timeline legal)</small></li>
              <li><span class="bhono-icon-white bhono-icon-font-color">B</span>&nbsp;<a href="http://bhono.com/p/horacioibrahim" title="Bhono" target="_blank">Bhono</a>&nbsp;<small>(assuntos técnicos)</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer footer-links">
      <div class="row">
        <div class="large-12 columns">
          <h3><strong>hipy.co</strong></h3>
          <span class="">is hippie, is freedom, is mine
          </span>
        </div>
      </div>
    </div> 
    <!-- content: projects [end] -->


     <!-- modal to select categories -->
     <div id="categories" class="reveal-modal medium" data-reveal>

     </div>

     <div id="eita" class="reveal-modal">

     </div>
    
  {% include 'includes/assets_pos_loaded.html' %}

  <script>
    $(document).foundation();
    $(document).foundation('reveal').init();
  </script>

  </body>
</html>
