{% load disqus_tags %}
{% set_disqus_identifier "post_id_" post.id %}
<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{ post.title }} | hipy.co | horacioibrahim </title>
    {% include 'includes/content_head_default.html' %}
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content="Horacio Ibrahim by hipy.co" />
    <meta property="og:article:section" content="{{ post.categories.0.name }}" />
  </head>
  <body id="pages" class="post-view">
    <div class="category-selected"><a href="/"><i class="fa fa-home"></i></a>&nbsp;/&nbsp;<a href="{% url 'category_posts' post.categories.0.slug %}">{{ post.categories.0.name }}</a></div>
    <!-- content: Pages [begin] -->
    <div id="article" class="content-pages">
      <div class="row">
        <div class="small-9 small-centered columns text-center">
          <script type="text/javascript">
            bb_bid = "1670533";
            bb_lang = "pt-BR";
            bb_name = "custom";
            bb_limit = "8";
            bb_format = "bbb";
          </script>
          <script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>            
        </div>
      </div>    
      <div class="row">
        <div id="main-content" class="small-9 small-centered columns">
          <h3>{{ post.title }}<br />
            <small class="subheader">{{ post.subtitle }}</small>
          </h3>
          <div class="row">
            <div class="small-12 columns">
              <div class="splash-pages">
                  {% if post.cover %}
                    <img src="" />
                  {% endif %}
              </div><p>{{ post.created_at|date:"d/M/Y"|lower }} {% if post.update_at > post.created_at %}| Atualizado há: {{ post.update_at|timesince|lower }} {% endif %}
                <span class="fb-like" data-href="http://hipy.co/post/{{ post.slug }}" data-width="100" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="float:right;"></span>
                </p>
                {% autoescape off %}
                  {{ post.content }}
                {% endautoescape %}
            </div>
          </div>
          {% if post.author %}
          <div class="row">
              <div class="small-12 columns">
                  <div class="signature" style="background: #f9f9f9; margin-top: 20px;">
                    <hr />
                    <div class="small-2 columns">
                        <img src="{% if post.author.avatar %}{{ post.author.avatar }}{% else %}/media/no_avatar.jpg{% endif %}" >
                    </div>
                    <div class="small-10 columns">
                        <h5><strong>{{ post.author.first_name }}&nbsp;{{ post.author.last_name }}</strong></h5>
                        <p>
                        {{ post.author.signature }}
                        </p>
                    </div>
                </div>
              </div>
          </div>
          {% endif  %}
         <div class="row">
              <div class="small-12 columns">
                  <hr />
                  {% disqus_show_comments %}
              </div>
          </div>
        </div>
        <div class="small-3 columns">
          <br />
            <!-- Assuntos relacionados 
            <a id="close-btn-ads" class="button tiny round secondary" style="float: right;">Ocultar Ads &#215;</a>-->
        </div>
      </div>
    </div>
    <!-- content: Pages [end] -->

    <!-- content: footer [begin] -->
    <br /><br />

    <!-- content: projects [end] -->


    {% include 'includes/assets_pos_loaded.html' %}

  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=1433803006869179&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>